<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<title>PAWS</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/uikit.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/uikit.gradient.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/components/tooltip.gradient.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/foundation.css" /> 
<link rel="alternate stylesheet" title="Dark" href="[% request.uri_base %]/css/monokai_sublime.css" /> 
<!-- highlightjs css -->

<script src="[% request.uri_base %]/javascripts/jquery.js" type="text/javascript"></script>
<script src="[% request.uri_base %]/javascripts/underscore.js" type="text/javascript"></script>

<script src="[% request.uri_base %]/js/uikit.min.js" type="text/javascript"></script>
<script src="[% request.uri_base %]/js/components/tooltip.js" type="text/javascript"></script>
<script src="[% request.uri_base %]/javascripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
	<nav class="uk-navbar uk-navbar-attached">
		<div class="uk-container uk-container-center">
			<a href="" data-uk-tooltip="{pos:'bottom'}" title="You know, for POD" class="uk-navbar-brand">PAWS</a>
			<ul class="uk-navbar-nav">
				<li class="uk-active">
					<a href="#">What is it</a>
				</li>
				<li>
					<a href="#">Perldoc Browser</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="uk-container uk-container-center">
		[% content %]
    </div>
</body>
</html>
