

body {
font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 12px;
color: #333;
}

dt {
    font-weight: bold;
    color: #444;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 5px 0;
}

button.annotate_button {
    float: right;
    padding: 0 7px
}

fieldset {
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 10px;
}

fieldset legend {
    background: white;
    border: 1px solid #000;
    border-radius: 3px;
}

label {
    display: block;
    font-weight: bold;
}

div.page_wrapper {
    background-color: #FFF;
    min-height: 400px;
    border-radius: 10px;
    padding: 10px 0;
}

div.search_area {
    padding: 5px;
    border-radius: 8px;
    background-color: #DDDDFF;
    min-height: 400px;
}

div.search_area.short {
    min-height: 25px;
    margin-bottom: 5px;
}


h1 {
font-size: 28px;
color: #000;
}

div#menu ul li > div.example {
    display: none;
}

div.example h3 {
    background-color: #AADDAA;
    border-radius: 3px;
    margin: 3px;
    padding: 5px;
    font-size: 12px;
}

div.example pre {
    margin: 3px;
}

div.links {
    font-size: 9px;
}

div.links h3 {
    background-color: #AADDAA;
    border-radius: 3px;
    margin: 10px 2px 2px 2px;
    padding: 5px;
    font-size: 12px;
}

ul.doc_links li {
    max-width: 196px;
    overflow: hidden;
}

ul.doc_links li:hover {
    border: 1px solid black;
    margin: 1px;
    max-width: 100%;
}

ul.doc_links li {
    padding-right: 5px;
}

a {
    color: #000055;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul#recent_searches li a.close:hover {
    background-color: #888;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
    color: #630;
}

.strong {
    font-weight: bold;
}

.emph {
    font-style: italic;
}

div.load_icon_wrapper {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -92px;
    margin-top: -100px;
}

div.load_icon_wrapper .uk-icon-large:before {
    font-size: 200px;
    color: white;
}

div#annotate_edit div.load_icon_wrapper {
    position:absolute;
    margin-left: -41px;
    margin-top: -50px;
    
}

div#annotate_edit div.load_icon_wrapper .uk-icon-large:before {
    font-size: 100px;
    color: black;
}

div.annotate_edit {
    position:fixed;
    z-index: 50;
    background-color: white;
    border: 1px solid #888;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    padding: 10px;
    overflow: auto;
    box-shadow:         0px 0px 13px 0px rgba(24, 38, 63, 0.75);
    display: none;
}

div.annotate_edit div.loader {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 55;
    background-image: url(/images/loader_light.gif);
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    background-repeat: no-repeat;
}

div.edit_overlay {
    position: fixed;
    z-index: 49;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display:none;
    background-color: #000;
    opacity: 0.25;
}

div.on {
    display: block;
}

div.edit_loading     {
    display: block;
}

div.annotation {
    margin: 5px;
    background-color: #EEE;
    padding: 5px;
    border: 1px solid #888;
    background-color: rgb(240, 240, 200);
    border-radius: 10px;
    box-shadow:         2px 2px 4px 0px rgba(24, 38, 63, 0.25);
}

div.annotation p {
    margin: 2px 0 2px 0;
}

div#paws_fsearch {
  position:absolute;
  z-index: 100;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:10px;
  box-shadow: 2px 5px 14px 0px rgba(24, 38, 63, .25);
}

div.fs_section {
    float: left;
}

div.fs_heading {
    font-weight: bold;
    border-bottom: 1px solid black;
}

div.result_line {
    height: 40px;
    padding: 0 5px 0 5px;
    margin-top: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    overflow: hidden;
}

div.sub_result_line {
    height: 15px;
    line-height: 15px;
    font-size: 0.8em;
    padding: 0 5px 0 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: #888;
    cursor: pointer;
    overflow: hidden;
}

div.hilight {
    background-color: #333;
    color: white;
}

div.result_line div.result_sd {
    font-size: 0.8em;
    color: #888;
}

div.result_line div.result_sd p {
    margin: 1px 0 1px 0;
}